<div class="cart example">
    <div class="innerc">
      <h5>
        Cart
        <span class="btnCart2" onclick="closeCart()"
          ><i class="fa-solid fa-xmark"></i
        ></span>
      </h5>
      <div class="items example">
        <div class="xl:w-full p-4 cardb">
            {% for data in cart %}
          <div id = "cart_row_{{forloop.counter}}" class="inner-card border border-gray-200 py-2 px-6">
            <img
              src={{data.product.getImage}}
              alt=""
            />
            <div class="content">
              <a href="#">{{data.product.name}}</a>
              <p>{{data.quantity}} x ₹{{data.product.price}}</p> <span id="{{forloop.counter}}_total" style="display:none;">{{data.quantity}}*{{data.product.price}}</span>
            </div>
          </div>
          {%  endfor %}
        </div>
        
      </div>
      <h1>Subtotal <span id="sub_total_value">₹310.00</span></h1>
      <script>
        function cart_data_load(){
            var subTotal = 0;
            {% for data in cart %}
            console.log('----------------------',{{forloop.counter}})
            var price_of_each = document.getElementById({{forloop.counter}}+"_total").innerText;
            var qty_pric = price_of_each.split('*');
            subTotal = subTotal + (qty_pric[0]*qty_pric[1])
            console.log(subTotal,"---Pricing",qty_pric);
    
            {% endfor %}
            var sub_total_assignment = document.getElementById("sub_total_value");
            sub_total_assignment.textContent = '₹ '+ subTotal.toString();

        }
        window.onload= cart_data_load ();
      </script>
      <div class="btn">
        <a href="{% url 'payment_form' %}">
          <button type="submit" class="b">Checkout</button>
        </a>
      </div>
      <p>Free Shipping on All Orders Over ₹100!</p>
    </div>
  </div>