{% extends 'index/base.html' %} {% load static %} {% block body %}
<html lang="en">
  <body>
    <section class="description">
      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap-reverse">
            <div
              class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 lg:mt-0 mt-12"
            >
              <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
                {{data.name}}
              </h1>
              <div class="flex mb-4">
                <a class="flex-grow border-b-2 py-2 text-lg px-1"
                  >Description</a
                >
              </div>
              <p class="leading-relaxed mb-4">{{data.description}}</p>
              <!-- <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Color</span>
                <span class="ml-auto text-gray-900">Blue</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Size</span>
                <span class="ml-auto text-gray-900">Medium</span>
              </div> -->
              <div class="flex mb-6 py-2">
                <span class="text-gray-500">Quantity</span>

                <span class="ml-auto text-gray-900"
                  ><button
                    class="button is-primary is-outlined"
                    name="minus_button"
                    id="minus_button"
                    onclick="minus_product()"
                  >
                    <i class="fas fa-minus"></i></button
                  >&nbsp;&nbsp;
                  <span name="quantity" id="quantity">1 </span
                  >&nbsp;&nbsp;<button
                    class="button is-primary is-outlined"
                    name="add_button"
                    name="add_button"
                    onclick="add_product()"
                  >
                    <i class="fas fa-plus"></i></button
                ></span>
              </div>
              <div class="flex items-center">
                <span class="title-font font-medium text-2xl text-gray-900"
                  >₹<span name="total_price" id="total_price"
                    >{{data.discounted_price}}</span
                  >
                  <span
                    style="display: none"
                    name="base_total_price"
                    id="base_total_price"
                    >{{data.discounted_price}}</span
                  >
                </span>
                <button class="flex ml-auto items-center a">Add To Cart</button>
                <button
                  class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
                >
                  <i class="fa-solid fa-heart"></i>
                </button>
              </div>
            </div>
            <img
              alt="ecommerce"
              class="lg:w-1/2 w-full lg:h-auto h-auto object-cover object-center rounded"
              src="{{data.image}}"
            />
          </div>
        </div>
      </section>
    </section>

    <script src="js/main.js "></script>
    <script src="js/jquery.rateyo.min.js"></script>
  </body>
</html>
<script>
  function add_product() {
    current_value = document.getElementById("quantity").innerText;
    current_total = document.getElementById("base_total_price").innerText;

    const span = document.getElementById("quantity");
    const span_total_price = document.getElementById("total_price");

    int_current_value = parseInt(current_value);
    int_total_price = parseInt(current_total);

    value = int_current_value + 1;

    // ✅ Change (replace) the text of the span
    span.textContent = value;
    new_total = value * int_total_price;
    span_total_price.textContent = new_total;
  }

  function minus_product() {
    current_quantity = document.getElementById("quantity").innerText;
    current_total = document.getElementById("base_total_price").innerText;
    const span = document.getElementById("quantity");
    const span_total_price = document.getElementById("total_price");

    int_current_quantity = parseInt(current_quantity);
    int_total_price = parseInt(current_total);
    if (int_current_quantity == 0) {
      span.textContent = "0";
      span_total_price.textContent = "0";
    } else {
      value = int_current_quantity - 1;
      span.textContent = value;
      new_total = value * int_total_price;
      span_total_price.textContent = new_total;
    }
  }
</script>
{% endblock %}
